#slider {
  display: grid;
  grid-template-columns: auto auto;
}

#pic img{
  border: 2px solid #ffffff;
  max-width: 500px;
  min-width: 300px;
  max-height: 500px;
  margin-left: 50px;
}

#pic p{
  font-size: large;
  word-wrap: break-word;  
  text-align: center;
}

#author{
  color: #ffa500;
}



#textBlock{
    width: 80%;
    margin-top: 100px;
    margin-left: auto;
    text-align: center;
    font-size: xx-large;
    color: #ffffff;
}

#creditBlock{
  /* margin-left: auto; */
  text-align: center;
  font-size: xx-large;
  color: #ffffff;
}

#bodyStyle{
    background-color: #000000;
}